# Xcode
build/
dist/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xcworkspace/xcuserdata/
*.hmap
*.ipa
*.playground.xcworkspace

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Temporary files
*.swp
*.swo
*~

# Swift Package Manager
.build/
.swiftpm/

# Logs
*.log
logs/
